.vscode
Pipfile.lock
*.html
*.pdf
*.csv
*.dump

**/build/**
**/*.egg-info/**
caat-workspace
*-output/

*.venv
**/output-docs/**
**/__pycache__/**

**/caatdbdata/**

.terraform/
.terraform.lock.hcl
terraform.tfstate
tfplan
terraform.tfstate.backup
